{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <div class="banner banner-4">
        <div class="container">
            <div class="row">
                <div class="col-xl-8">
                    <div class="swiper bannerSlider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="product-box product-box-large">
                                    <div class="contents">
                                        <span class="pretitle">Dairy Equipment For Sale Uk</span>
                                        <h1 class="product-title">
                                            Milk Cooling <br> Tanks South <br> AfricaMilk <br> Cooling Tank <br>
                                            incredibly slim <br>
                                            <span></span></h1>
                                        <span class="product-price">
                                            <span>Starts From</span>
                                            $14,000.00
                                        </span>
                                    </div>
                                    <div class="product-thumb"><img src="{% static 'images/products/home4/laptop.jpg' %}"
                                            alt="product-thumb"></div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <div class="product-box product-box-large">
                                    <div class="contents">
                                        <span class="pretitle">Weekend Discount</span>
                                        <h1 class="product-title">Big screens in <br>
                                            incredibly slim <br>
                                            <span>designs...</span></h1>
                                        <span class="product-price">
                                            <span>Starts From</span>
                                           $14,000.00
                                        </span>
                                    </div>
                                    <div class="product-thumb"><img src="../assets/images/products/home4/laptop.jpg"
                                            alt="product-thumb"></div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-navigation">
                            <div class="swiper-button-prev slider-btn prev"><i class="fal fa-long-arrow-up"></i></div>
                            <div class="swiper-button-next slider-btn next"><i class="fal fa-long-arrow-down"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="row">
                    <span class="pretitle ms-4" style="color: #0a53be">$76,000.00</span>
                        {% for product in producttop %}
                        <div class="col-xl-12">
                            <a href="{% url 'producttop' product.id %}" class="product-box product-box-medium">
                                <div class="contents">

                                    <h1 class="product-title">
                                        <span>{{ product.text }}</span></h1>
                                    <p></p>
                                    <div class="view-collections go-btn"> <i
                                            class="fal fa-long-arrow-right"></i></div>
                                </div>


                                <div class="product-thumb">
                                    {% if product.image %}
                                        <img src="{{ product.image.url }}"alt="product-thumb"></div>
                                {% endif %}
                            </a>
                        </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="products"></div>
    <div class="rts-featured_products-section section-5 section-gap">
        <div class="container">
            <div class="section-header section-header4">
                <span class="section-title section-title-2 mb--5">Our products</span>
                <a href="{% url 'products' %}" class="go-btn">All Products <i class="fal fa-long-arrow-right"></i></a>
            </div>
            <div class="products-area">
                <div class="swiper rts-fiveSlide">
                    <div class="swiper-wrapper">
                        {% for product in products1 %}
                        <div class="swiper-slide">
                            <div class="product-item product-item4 card h-100">
                                {% if product.image %}
                                <a href="{% url 'product' product.id %}" class="card-img-top">
                                    <img src="{{ product.image.url }}" alt="product-image">
                                </a>
                                {% endif %}
                                <div class="bottom-content card-body">
                                    <span class="product-catagory card-title">Equipment</span>
                                    <a href="{% url 'product' product.id %}" class="product-name card-text">

                                        <br>
                                        {{ product.text|truncatechars:100 }} </a>
                                    <div class="flex-wrap">
                                        <div class="action-wrap">
                                            <span class="product-price">{{product.cost}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                    <div class="pagination-area">
                        <div class="swiper-pag"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="rts-featured_products-section section-5 section-gap">
        <div class="container">
            <div class="products-area">
                <div class="swiper rts-fiveSlide">
                    <div class="swiper-wrapper">
                        {% for product in products2 %}
                        <div class="swiper-slide">
                            <div class="product-item product-item4 card h-100">
                                {% if product.image %}
                                <a href="{% url 'product2' product.id %}" class="card-img-top">
                                    <img src="{{ product.image.url }}" alt="product-image">
                                </a>
                                {% endif %}
                                <div class="bottom-content card-body">
                                    <span class="product-catagory card-title">Equipment</span>
                                    <a href="{% url 'product2' product.id %}" class="product-name card-text">

                                        <br>
                                        {{ product.text|truncatechars:100 }} </a>
                                    <div class="flex-wrap">
                                        <div class="action-wrap">
                                            <span class="product-price">{{product.cost}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    <div class="pagination-area">
                        <div class="swiper-pag"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="rts-featured_products-section section-5 section-gap">
        <div class="container">
            <div class="products-area">
                <div class="swiper rts-fiveSlide">
                    <div class="swiper-wrapper">
                        {% for product in products3 %}
                        <div class="swiper-slide">
                            <div class="product-item product-item4 card h-100">
                                {% if product.image %}
                                <a href="{% url 'product3' product.id %}" class="card-img-top">
                                    <img src="{{ product.image.url }}" alt="product-image">
                                </a>
                                {% endif %}
                                <div class="bottom-content card-body">
                                    <span class="product-catagory card-title">Equipment</span>
                                    <a href="{% url 'product3' product.id %}" class="product-name card-text">

                                        <br>
                                        {{ product.text|truncatechars:100 }} </a>
                                    <div class="flex-wrap">
                                        <div class="action-wrap">
                                            <span class="product-price">{{product.cost}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    <div class="pagination-area">
                        <div class="swiper-pag"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="rts-posters-section section-5 section-gap">
        <div class="container">
            <div class="row">
                <div class="col-xl-3">
                    <a href="#" class="product-box product-box-medium product-box-medium2">
                        <div class="contents">
                            <span class="pretitle"></span>
                            <h1 class="product-title">Automatic Bottling Machine Price <br> Full <br> Automatic Water <br> Filling Line</h1>
                            
                        </div>
                        <div class="product-thumb"><img src="{% static 'images/products/home4/pot.webp' %}" alt="product-thumb">
                        </div>
                    </a>
                </div>
                <div class="col-xl-6">
                    <a href="#" class="product-box product-box-medium mid">
                        <div class="contents">
                            <span class="pretitle">Equipment</span>
                            <h1 class="product-title">
                                <span> Factory Directly Sale <br> Double Mitre Digital Display</span></h1>
                            <p></p>
                        </div>
                        <div class="product-thumb"><img src="{% static 'images/products/home4/phones.webp' %}"
                                alt="product-thumb"></div>
                    </a>
                </div>
                <div class="col-xl-3">
                    <a href="#" class="product-box product-box-medium product-box-medium3">
                        <div class="contents">
                            <span class="pretitle">Equipment</span>
                            <h1 class="product-title">Intelligent X-ray Inspection <br> Equipment For  </h1>
                            <div class="view-collections go-btn">Shop Now <i class="fal fa-long-arrow-right"></i></div>
                        </div>
                        <div class="product-thumb"><img src="{% static 'images/products/home4/machine.webp' %}"
                                alt="product-thumb"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="rts-deal-section section-gap">
        <div class="container position-relative">
          
            <div class="swiper oneSlide">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="deal-box">
                            <div class="deal-box-inner">
                                <div class="deal-product">
                                    <div class="product-area">
                                        <div class="product detail-product one filterd-items">
                                            <div class="product-thumb"><img
                                                    src="{% static 'images/products/home4/deal/product.webp' %}"
                                                    alt="product-thumb"></div>
                                            <div class="contents">
                                                <h2 class="product-title">Equipment Platform 200kg Goods Lift Table <br> Aluminium Alloy Platform Aerial Lift Equipment</h2>
                                                <span class="product-price">$3,250.00 <span
                                                        class="old-price"></span></span>
                                            </div>
                                        </div>
                                        <div class="product detail-product two filterd-items hide">
                                            <div class="product-thumb"><img
                                                    src="{% static 'images/products/home4/deal/product.webp' %}"
                                                    alt="product-thumb"></div>
                                            <div class="contents">
                                                <h2 class="product-title">Dragon Touch Max10 Tablet
                                                    Android 10.0 OS</h2>
                                                <span class="product-price">$129.99 <span
                                                        class="old-price">$349.99</span></span>
                                            </div>
                                        </div>
                                        <div class="product detail-product three filterd-items hide">
                                            <div class="product-thumb"><img
                                                    src="{% static 'images/products/home4/deal/product.png' %}"
                                                    alt="product-thumb"></div>
                                            <div class="contents">
                                                <h2 class="product-title">Dragon Touch Max10 Tablet
                                                    Android 10.0 OS</h2>
                                                <span class="product-price">$129.99 <span
                                                        class="old-price">$349.99</span></span>
                                            </div>
                                        </div>
                                        <div class="product detail-product four filterd-items hide">
                                            <div class="product-thumb"><img
                                                    src="{% static 'images/products/home4/deal/product.png' %}"
                                                    alt="product-thumb"></div>
                                            <div class="contents">
                                                <h2 class="product-title">Dragon Touch Max10 Tablet
                                                    Android 10.0 OS</h2>
                                                <span class="product-price">$129.99 <span
                                                        class="old-price">$349.99</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="side-box">
                                    <div class="product">
                                        <div class="product-thumb"><img
                                                src="{% static 'images/products/home4/deal/side-product.webp' %}"
                                                alt="product-thumb"></div>
                                        <div class="contents">
                                            <span class="product-catagory">Equipment</span>
                                            <h2 class="product-title">Equipment 1000l Brewing Equipment High Quality Used <br> Commercial High Quality Turnkey Brewery Equip</h2>
                                            <span class="product-price">$25,000.00<span
                                                    class="old-price"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-navigation">
            <div class="swiper-button-prev slider-btn prev"><i class="fal fa-long-arrow-left"></i></div>
            <div class="swiper-button-next slider-btn next"><i class="fal fa-long-arrow-right"></i></div>
        </div>
    </div>

    <div class="product-details-popup-wrapper">
        <div class="rts-product-details-section rts-product-details-section2 product-details-popup-section">
            <div class="product-details-popup">
                <button class="product-details-close-btn"><i class="fal fa-times"></i></button>
                <div class="details-product-area">
                    <div class="product-thumb-area">
                        <div class="cursor"></div>
                        <div class="thumb-wrapper one filterd-items figure">
                            <div class="product-thumb zoom" onmousemove="zoom(event)"
                                style="background-image: url(../assets/images/products/product-details.jpg)"><img
                                    src="../assets/images/products/product-details.jpg" alt="product-thumb">
                            </div>
                        </div>
                        <div class="thumb-wrapper two filterd-items hide">
                            <div class="product-thumb zoom" onmousemove="zoom(event)"
                                style="background-image: url(../assets/images/products/product-filt2.jpg)"><img
                                    src="../assets/images/products/product-filt2.jpg" alt="product-thumb">
                            </div>
                        </div>
                        <div class="thumb-wrapper three filterd-items hide">
                            <div class="product-thumb zoom" onmousemove="zoom(event)"
                                style="background-image: url(../assets/images/products/product-filt3.jpg)"><img
                                    src="../assets/images/products/product-filt3.jpg" alt="product-thumb">
                            </div>
                        </div>
                        <div class="product-thumb-filter-group">
                            <div class="thumb-filter filter-btn active" data-show=".one"><img
                                    src="../assets/images/products/product-filt1.jpg" alt="product-thumb-filter"></div>
                            <div class="thumb-filter filter-btn" data-show=".two"><img
                                    src="../assets/images/products/product-filt2.jpg" alt="product-thumb-filter"></div>
                            <div class="thumb-filter filter-btn" data-show=".three"><img
                                    src="../assets/images/products/product-filt3.jpg" alt="product-thumb-filter"></div>
                        </div>
                    </div>
                    <div class="contents">
                        <div class="product-status">
                            <span class="product-catagory">Dress</span>
                            <div class="rating-stars-group">
                                <div class="rating-star"><i class="fas fa-star"></i></div>
                                <div class="rating-star"><i class="fas fa-star"></i></div>
                                <div class="rating-star"><i class="fas fa-star-half-alt"></i></div>
                                <span>10 Reviews</span>
                            </div>
                        </div>
                        <h2 class="product-title">Wide Cotton Tunic Dress <span class="stock">In Stock</span></h2>
                        <span class="product-price"><span class="old-price">$9.35</span> $7.25</span>
                        <p>
                            Priyoshop has brought to you the Hijab 3 Pieces Combo Pack PS23. It is a
                            completely modern design and you feel comfortable to put on this hijab.
                            Buy it at the best price.
                        </p>
                        <div class="product-bottom-action">
                            <div class="cart-edit">
                                <div class="quantity-edit action-item">
                                    <button class="button minus"><i class="fal fa-minus minus"></i></button>
                                    <input type="text" class="input" value="01" />
                                    <button class="button plus">+<i class="fal fa-plus plus"></i></button>
                                </div>
                            </div>
                            <a href="cart.html" class="addto-cart-btn action-item"><i class="rt-basket-shopping"></i>
                                Add To
                                Cart</a>
                            <a href="wishlist.html" class="wishlist-btn action-item"><i class="rt-heart"></i></a>
                        </div>
                        <div class="product-uniques">
                            <span class="sku product-unipue"><span>SKU: </span> BO1D0MX8SJ</span>
                            <span class="catagorys product-unipue"><span>Categories: </span> T-Shirts, Tops, Mens</span>
                            <span class="tags product-unipue"><span>Tags: </span> fashion, t-shirts, Men</span>
                        </div>
                        <div class="share-social">
                            <span>Share:</span>
                            <a class="platform" href="http://facebook.com" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="platform" href="http://twitter.com" target="_blank"><i
                                    class="fab fa-twitter"></i></a>
                            <a class="platform" href="http://behance.com" target="_blank"><i
                                    class="fab fa-behance"></i></a>
                            <a class="platform" href="http://youtube.com" target="_blank"><i
                                    class="fab fa-youtube"></i></a>
                            <a class="platform" href="http://linkedin.com" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}





