{% extends 'layouts/base.html' %}

{% block content %}
    <h2 class="text-center mt-3" style="color:#0a53be">Our Products</h2>
    <div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}" style="color: #07275c">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'index' %}#contact" style="color: #07275c">Contact</a></li>
            <li class="breadcrumb-item active" aria-current="page">Products</li>
        </ol>
    </nav>
    </div>
<div class="container mt-5">
    <div class="row">
        {% for row in products1 %}
        <div class="col-lg-4">
            <div class="card shadow mb-3 product-item product-item4" style="width: 18rem;">
                {% if row.image %}
                <img src="{{ row.image.url }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">

                    <p class="card-text">{{ row.text|truncatechars:100 }}</p>
                    <div class="card-title fs-4">{{ row.cost }}</div>
                    <a href="{% url 'product' row.id %}" class="btn btn-primary">Show more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        {% for row in products2 %}
        <div class="col-lg-4">
            <div class="card shadow mb-3 product-item product-item4" style="width: 18rem;">
                {% if row.image %}
                <img src="{{ row.image.url }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">

                    <p class="card-text">{{ row.text|truncatechars:100 }}</p>
                    <div class="card-title fs-4">{{ row.cost }}</div>
                    <a href="{% url 'product2' row.id %}" class="btn btn-primary">Show more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        {% for row in products3 %}
        <div class="col-lg-4">
            <div class="card shadow mb-3 product-item product-item4" style="width: 18rem;">
                {% if row.image %}
                <img src="{{ row.image.url }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">

                    <p class="card-text">{{ row.text|truncatechars:100 }}</p>
                    <div class="card-title fs-4">{{ row.cost }}</div>
                    <a href="{% url 'product3' row.id %}" class="btn btn-primary">Show more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        {% for row in producttop %}
        <div class="col-lg-4">
            <div class="card shadow mb-3 product-item product-item4" style="width: 18rem;">
                {% if row.image %}
                <img src="{{ row.image.url }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <p class="card-text">{{ row.text|truncatechars:100 }}</p>
                    <div class="card-title fs-4">{{ row.cost }}</div>
                    <a href="{% url 'producttop' row.id %}" class="btn btn-primary">Show more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}