{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mt-2">

                    <img src="{% static 'images/products/home4/deal/side-product.webp' %}" alt="">

            </div>
            <div class="col-lg-4 mt-5">
                <div class="contents">
                    <span class="product-catagory">Equipment</span>
                                            <h2 class="product-title">Equipment 1000l Brewing Equipment High Quality Used <br> Commercial High Quality Turnkey Brewery Equip</h2>

                </div>
                <div class="action-wrap mt-4">
                    <span class="product-price" style="color:#1D72FF">$25,000.00</span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}