{% extends 'layouts/base.html' %}

{% block content %}
{% for product in producttop %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mt-4 mb-4">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="">
                {% endif %}
            </div>
            <div class="col-lg-4 mt-5">
                <div class="fs-4">
                    {{ product.text }}
                </div>

            </div>
        </div>
    </div>


{% endfor %}

{% endblock %}